*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Madimi One" , sans-serif;
} 

.heading{
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

/* Main Heading */
.bigSkatch{
  font-size: 6rem;
  color: #ffb703;
}

/* Main Wrapper */
.wrapper{
  display: flex;
  gap: 10rem;
  padding-top: 5rem;
}

/* Buttons */
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.currentGridText{
  color: white;
  font-size: 1.5rem;
}
.btn{
  font-size: 1rem;
  padding: 0.4rem 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover{
  scale: 1.1;
}
.colorInput{
  background-color: black;
  border: 0px;
  height: 40px;
  width: 60px;
}

/* Grid */
.grid{
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
.cell{
  border: 1px solid black;
  background-color: lightgray;
}

